.miprimeraclase{
	color:orange;
}

body{
	background:#2c3e50;
	margin: 30px 30px;
	font-family: trebuchet ms;
	color: white;
}

h1::before{
	content: "before";
	background: green;
}

h1::after{
	content: "After";
	background: green;
}

p::first-letter{
	font-size: 36px;
	color: gold;
}

.colorrgb{
	color: rgb(255,0,0);
}

.colorrgba{
	color: rgba(255,0,0,0.4);
}

.colorhsl{
	color: hsl(240,100%,50%);
}

.colorhsla{
	color: hsl(240,100%,50%,.4);
}