body{
	margin: 0;
}
.caja1{
	background: yellow;
	height: 100px;
	width: 200px;
	padding: 40px 80px;
}

.caja2{
	background: blue;
	height: 100px;
	width: 200px;
	border: 40px solid rgb(0,255,0);
}

.caja3{
	background: red;
	height: 100px;
	width: 200px;
	border-width: 20px;
	border-style: solid;
	border-color: black;
}